body{
    background-color: aqua;
}

p{
    color: blueviolet;
}

div > p{
    word-spacing: 3px;
    padding-left: 30px;
}

div > h2,h3{
    padding-left: 30px;
}

h2,h3,
h4,h5,h6{
    color:red;
    font-weight: bold;
    font-size: 30px;
}

#story{
    border: 5px dotted black;
    border-color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 50px;
}

a{
    color: black;
}

a:hover{
    color: red;
}

a:focus{
    color: royalblue;
}

#story_title{
    text-shadow: 1px 1px 2px red, 1px 1px 2px red;
    text-align: center;
}

.b_style{
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 1.5em;
}

.em_style{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    text-decoration: overline;
    text-transform: capitalize;
}

